<div class="span12">
       <div id="widget-foostats" class="widget widget-table">
           <div class="widget-header">
               <i class="icon-list"></i>
               <h3>
                   Foo Stats
               </h3>
               <div id="refresh-foostats" class="btn icon-refresh js-refresh-info"></div>
               <div class="pull-right">
                   <input type="text" id="filter-foostats" class="widget-search" placeholder="search...">
               </div>
           </div><!-- /widget-header -->
        <div class="widget-content">
            <table id="table-foostats" class="table table-hover table-condensed table-bordered"></table>
        </div><!-- /widget-content -->
    </div><!-- /widget -->
</div><!-- /span12 -->